<h1>Modifier le ragot ?</h1>

<%= form_tag("/gossips/#{@gossip.id}", method: :patch) do %>
  <p>Quel est ton nom ? <%= text_field_tag 'gossip[author]', @gossip.author %></p>
  <p>Quel est le ragot ? <%= text_area_tag 'gossip[content]', @gossip.content %></p>
  <p><%= submit_tag ' J\'en suis sûr cette fois!' %></p>
<% end %>

<%= link_to 'Annuler', gossip_path %><br />
<%= link_to 'Revenir à la liste!', root_path %>
